<div class="list">
    <div class="list-header">
        <div class="title">
            {{data.headerList.text}}
        </div>
        <div class="link">
            {{data.headerList.link}}
        </div>
    </div>
    <div class="list-content">
        <div class="list-item">
            <div class="list-item_left">
                <img src="https://lh4.ggpht.com/-Z_ue0VfOfsk/V4WroOv9Y7I/AAAAAAAAEjc/6mDfRJsMMYoU5q-drqGfQb6oT1Cm4UYOQCLcB/s1600/but%2Bthien%2Blong.jpg"
                    alt="">
                <div class="list-item_left-text">
                    <div>Bút Thiên Long</div>
                    <div>123456789</div>
                    <button>Scan</button>
                </div>
            </div>
            <div class="list-item_right">
                <div class="list-item_right-text">
                    <div>Không lấy được vị trí</div>
                    <div> 13:30, 21/04/2021 </div>
                </div>

            </div>
        </div>
    </div>
    <div class="list-content">
        <div class="list-item" *ngFor="let item of data.listItem">
            <div class="list-item_left">
                <img src="https://lh4.ggpht.com/-Z_ue0VfOfsk/V4WroOv9Y7I/AAAAAAAAEjc/6mDfRJsMMYoU5q-drqGfQb6oT1Cm4UYOQCLcB/s1600/but%2Bthien%2Blong.jpg"
                    alt="">
                <div class="list-item_left-text">
                    <div>Bút Thiên Long</div>
                    <div>123456789</div>
                    <button>Scan</button>
                </div>
            </div>
            <div class="list-item_right">
                <div class="list-item_right-text">
                    <div>Không lấy được vị trí</div>
                    <div> 13:30, 21/04/2021 </div>
                </div>

            </div>
        </div>
    </div>
</div>