<div class="form-create">
  <div class="title">
    {{ option?.title }}
  </div>
  <div class="subtitle">
    THÔNG TIN CHUNG
  </div>
  <div class="layout">
    <div class="content row align-items-center" *ngFor="let item of data">
      <div class="label" *ngIf="item.type !== 'img' && item.type !== 'button'">{{ item?.label }}</div>
      <div class="input-text" [class]="item.class">
        <div *ngIf="
              item.type === 'text' ||
              item.type === 'number' ||
              item.type === 'file'
            ">
          <input type="{{ item.type }}" id="{{ item.id }}" name="{{ item.name }}" [(ngModel)]="model[item.id]" />
        </div>
        <div *ngIf="item.type === 'select'">
          <select [(ngModel)]="model[item.id]">
            <option *ngFor="let i of item.data" [value]="i.value">
              {{ i.value || 1 }}
            </option>
          </select>
        </div>
        <!-- <div *ngIf="item.type === 'htmlText'">
            <div class="NgxEditor__Wrapper">
              <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
              <ngx-editor
                [editor]="editor"
                [ngModel]="html"
                editable="true"
                placeholder="Type here..."
              ></ngx-editor>
            </div>
          </div> -->

        <!-- chưa customer-->
        <div *ngIf="item.type === 'radio'">
          <mat-radio-group [(ngModel)]="model[item.id]" aria-label="Select an option">
            <mat-radio-button value="1">Nam</mat-radio-button>
            <mat-radio-button value="2">Nữ</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="item.type === 'checkbox'">123</div>
      </div>
    </div>
  </div>
  <div class="upload-img">
    <div class="content row align-items-center" [hidden]="item.type !== 'img'" *ngFor="let item of data">
      <div class="label">{{ item?.label }}</div>
      <div class="input-text" [class]="item.class">
        <div class="img" *ngIf="item.type === 'img'">
          <div class="label-upload-img">
            <label class="" for="{{ item.id }}">
              <mat-icon class="add-photo">add_a_photo</mat-icon>
            </label>
            <img [src]="model.MediaURL" height="200" *ngIf="item.name === 'avatar' && model.MediaURL" />
            <img [src]="model.BackgroundURL" height="200" *ngIf="item.name === 'background' && model.BackgroundURL" />
          </div>
          <input id="{{ item.id }}" #file hidden type="file" accept="image/*"
            (change)="preview(file.files, item.name)" />
        </div>
      </div>
    </div>
  </div>
  <div class="add-new">
    <div class="content row align-items-center" [hidden]="item.type !== 'button'" *ngFor="let item of data">
      <div class="label">{{ item?.label }}</div>
      <button class="btn-add-new">Thêm mới</button>
    </div>
  </div>
  <div class="group-btn">
    <button *ngFor="let i of arrayButton; let index = index" class="btn mbf-btn" [class]="i.class"
      (click)="onClickButton(i)">
      {{ i?.text }}
    </button>
  </div>
</div>