.form-create {
  padding: 15px;
  .subtitle {
    margin-left: 0.5em;
    color: #1894ff;
    font-weight: 600;
    margin-top: 3em;
  }
  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .label {
    margin-bottom: 5px;
  }
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .upload-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .label-upload-img {
      width: 150px;
      height: 150px;
      border: 1px solid #e4e4e4;
      text-align: center;
      font-size: 35px;
      font-weight: 500;
      position: relative;
      img {
        width: 150px;
        height: 150px;
      }

      label {
        position: absolute;
        bottom: 7px;
        right: 7px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #bcbcbc;
      }
    }

    .img {
      display: flex;
    }
  }
  .add-new {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .btn-add-new {
      outline: none;
      border: none;
      width: 100%;
      height: 45px;
      background: none;
      border: 1px solid #1894ff;
      color: #1894ff;
      border-radius: 20px;
    }
  }
  .input-text {
    width: 100%;
    input {
      outline: none;
      width: 95%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #e4e4e4;
    }
    select {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      outline: none;
      border: 1px solid #e4e4e4;
    }
  }
  .content {
    padding: 10px 10px 0 10px;
    align-items: center;
    .img {
      display: flex;
      flex-direction: column;
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
  .group-btn {
    text-align: center;
    margin-top: 30px;
  }
}
.btn-cancel {
  width: 140px;
  height: 50px;
  background-color: #d6d6d6;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
.btn-save {
  width: 140px;
  height: 50px;
  background-color: #1894ff;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
