<div class="title">
    TỪ CHỐI DUYỆT HỢP ĐỒNG
</div>
<form class="container">
    <div class="mb-3">
        <label class="form-label">Lý do *</label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Nhận xét *</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>

</form>
<div class="mb-3 text-center">
    <button class="btn-save">
        Xác nhận
    </button>
    <button class="btn-cancel" (click)="closeDialog()">
        Hủy bỏ
    </button>

</div>