.title {
  font-size: 24px;
  font-weight: bold;
  margin: auto;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}

::ng-deep .body-container {
  width: 100%;
  overflow: hidden;
  padding: 15px;

  .mat-tab-label {
    width: 100%;
  }
  .mat-tab-label-active {
    background: var(--color-list-nav);
    border-radius: 10px;
  }
  .mat-tab-header {
    border: none;
    left: 0;
    background: #fafafa;
    // border-radius: 24px;
    margin-bottom: 5px;
  }
  .mat-tab-body-content {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: none;
  }
  .mat-tab-label {
    height: 36px;
    opacity: 1;
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
    .mat-tab-label-content {
      font-weight: 600;
    }
  }
  .mat-tab-label-active .mat-tab-label-content {
    width: 100%;
    border-radius: 14px;
    color: var(--color-white);
    width: 100%;
  }
  .mat-tab-labels {
    justify-content: space-between;
  }
}
