<div class="title"> THÔNG TIN DOANH NGHIỆP</div>

<div class="body-container">
    <mat-tab-group>
        <mat-tab label="THÔNG TIN DOANH NGHIỆP">
            <app-enterprise-edit></app-enterprise-edit>
        </mat-tab>
        <mat-tab label="LỊCH SỬ CHĂM SÓC">
            <app-care-history class="enterprise-container"></app-care-history>
        </mat-tab>
        <mat-tab label="DỊCH VỤ SỬ DỤNG">
            <app-use-service class="enterprise-container"></app-use-service>
        </mat-tab>
    </mat-tab-group>
</div>