<div class="form-create">
  <div class="title">
    {{ option?.title }}
  </div>
  <div class="subtitle">
    THÔNG TIN CHUNG
  </div>
  <div class="layout">

    <div class="content row align-items-center"
         *ngFor="let item of data">
      <div class="label"
           *ngIf="item.type !== 'img' && item.type !== 'button' ">{{ item?.label }}</div>
      <div class="input-text"
           [class]="item.class">
        <div *ngIf="
            item.type === 'text' ||
            item.type === 'number' ||
            item.type === 'file'
          ">
          <input type="{{ item.type }}"
                 id="{{ item.id }}"
                 name="{{ item.name }}"
                 [(ngModel)]="model[item.id]" />
        </div>
        <div *ngIf="item.type === 'select'">
          <select [(ngModel)]="model[item.id]">
            <option *ngFor="let i of item.data"
                    [value]="i.value">
              {{ i.name}}
            </option>
          </select>
        </div>
        <div *ngIf="item.ward === 'Nation' || item.ward === 'Province' || 
           item.ward === 'District'">
          <select [(ngModel)]="model[item.id]"
                  (change)="chooseLocation($event.target.value, item.ward)">
            <option *ngFor="let i of item.data"
                    [value]="i.value">
              {{ i.name}}
            </option>
          </select>
        </div>

        <!-- <div *ngIf="item.type === 'htmlText'">
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
            <ngx-editor
              [editor]="editor"
              [ngModel]="html"
              editable="true"
              placeholder="Type here..."
            ></ngx-editor>
          </div>
        </div> -->

        <!-- chưa customer-->
        <div *ngIf="item.type === 'radio'">
          <mat-radio-group [(ngModel)]="model[item.id]"
                           aria-label="Select an option">
            <mat-radio-button value="1">Nam</mat-radio-button>
            <mat-radio-button value="2">Nữ</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="item.type === 'checkbox'">123</div>
      </div>
    </div>
  </div>
  <div class="upload-img">
    <div class="content row align-items-center"
         [hidden]="item.type !== 'img'"
         *ngFor="let item of data">
      <div class="label">{{ item?.label }}</div>
      <div class="input-text"
           [class]="item.class">
        <div class="img"
             *ngIf="item.type === 'img'">
          <div class="label-upload-img">
            <label class=""
                   for="{{ item.id }}">
              <mat-icon class="add-photo">add_a_photo</mat-icon>
            </label>
            <img [src]="avatarUrl"
                 height="200"
                 *ngIf="item.name === 'avatar'" />
            <img [src]="backgroundURL"
                 height="200"
                 *ngIf="item.name === 'background'" />
          </div>
          <input id="{{ item.id }}"
                 #file
                 hidden
                 type="file"
                 accept="image/*"
                 (change)="preview(file.files, item.name)" />
        </div>
      </div>
    </div>
  </div>
  <div class="add-new">
    <div class="content row align-items-center"
         [hidden]="item.type !== 'button'"
         *ngFor="let item of data">
      <div class="label">{{ item?.label }}</div>
      &nbsp;
      &nbsp;
      <button *ngIf="typeForms == 'enterprise'"
              class="btn-add-new"
              (click)="addCertificate()">Thêm mới</button>
    </div>
  </div>
  <div class="cert">
    <div class="content row align-items-start flex-column d-flex"
         [hidden]="item.type !== 'cert'"
         *ngFor="let item of data">
      <div class="item"
           *ngIf="item.type === 'cert'">
        <div class="left">Tên chứng nhận</div>
        <div class="right">{{item.data.Name}}</div>
      </div>
      <div class="item"
           *ngIf="item.type === 'cert'">
        <div class="left">Trạng thái</div>
        <div class="right">{{item.data.Status}}</div>
      </div>
      <div class="item"
           *ngIf="item.type === 'cert'">
        <div class="left">Ngày hết hạn</div>
        <div class="right">{{item.data.ExpiredDate}}</div>
      </div>
      <div class="item"
           *ngIf="item.type === 'cert'">
        <div class="left">Hình ảnh giấy chứng nhận</div>
        <div class="right">{{item.data.name}}</div>
      </div>

    </div>
    <div class="group-btn">
      <button *ngFor="let i of arrayButton; let index = index"
              class="btn mbf-btn"
              [class]="i.class"
              (click)="onClickButton(i)">
        {{ i?.text }}
      </button>

    </div>
  </div>