* {
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  margin-right: 50px;
  .search {
    position: relative;
    margin-right: 50px;
    input[type="search"] {
      border-radius: 30px;
      border: 1px solid #ececec;
      width: 300px;
      height: 40px;
      padding: 0px 40px 0 15px;
      outline: none;
    }
    img {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
    }
  }
  .badge {
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin-right: 50px;
    img {
      position: absolute;
      left: -10px;
    }
    .mat-badge {
      top: -10px;
    }
  }
  .info {
    display: flex;
    align-items: center;
    .image {
      width: 50px;
      height: 50px;
      border-radius: 20px;
      background-color: #c5c5c5;
      overflow: hidden;
      img {
        width: 50px;
        height: 50px;
        border-radius: 20px;
      }
    }
    .detail {
      margin-left: 25px;
      strong {
        font-size: 20px;
      }
    }
  }
}

.noti-container {
  .noti-header {
    background: var(--color-list-nav);
    color: var(--color-secondary);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    span:nth-child(1) {
      font-size: 1em;
      font-weight: 600;
    }
    span:nth-child(2) {
      font-size: 0.8em;
      font-weight: 600;
      cursor: pointer;
    }
  }
  .list-item {
    display: flex;
    .item-text {
      font-weight: 500;
      div {
        font-size: 0.8em;
      }
      span {
        font-size: 0.6em;
      }
    }
  }
}

.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 67px !important;
}
.mat-list-item {
  margin: 5px auto !important;
}
.cdk-overlay-connected-position-bounding-box {
  top: 74.8438px !important;
  left: 1332.26px !important;
}
