<p class="title">
    Thông tin tài khoản
</p>
<div class="row-grid">
    <div class="col">
        <div class="add-img">
            <img class="circle" alt="" [src]="userProfile.MediaURL" *ngIf="userProfile && userProfile.MediaURL">
            <div class="circle2">
                <label for="img">
                    <img src="assets/svg/camera.png" alt="">
                    <input hidden id="img" type="file" #file (change)="preview(file.files)">
                </label>

            </div>

        </div>
    </div>
    <div class="col">
        <div class="form-infor">
            <form class="row1">
                <label>
                    Họ (<span>*</span>)<br>
                    <input type="text" name="fn" [(ngModel)]="userProfile.FirstName">
                </label>
                <label>
                    Tên (<span>*</span>)<br>
                    <input type="text" name="ln" [(ngModel)]="userProfile.LastName">
                </label>
                <label>
                    Điện thoại đăng nhập (<span>*</span>) <br>
                    <input type="text" name="phone" [(ngModel)]="userProfile.Phone">
                </label>
                <label>
                    Email <br>
                    <input type="text" name="email" [(ngModel)]="userProfile.Email">
                </label>
            </form>
            <div class="action">
                <app-base-button [titleButton]="'Lưu'" (click)="saveUser()" [dataButton]="{cssClass: 'save-button'}">
                </app-base-button>
                <app-base-button [titleButton]="'Hủy bỏ'" (click)="getUser()"
                    [dataButton]="{cssClass: 'cancel-button'}"></app-base-button>
            </div>

        </div>
    </div>
</div>