<ul class="list-group list-group-flush enterprise-container">
    <li class="list-group-item" *ngFor="let history of careHistories">
        <div class="grid">
            <span>Tài khoản</span>
            <div>Nguyễn Văn Sơn</div>
            <span>Hành động</span>
            <div>Sửa thông tin</div>
            <span>Thời gian</span>
            <div>07:30 06/07/2021</div>
            <span>Chi tiết</span>
            <div>Sửa thông tin doanh nghiệp mã 135464</div>
            <span class="comment">Nhận xét</span>
        </div>
    </li>
    <div class="btn-block">
        <button class="btn close-btn" (click)="closeDiaglog()"> Đóng </button>
        &nbsp;
        <button class="btn add-btn"> Thêm hợp đồng </button>
    </div>
</ul>