<div class="title">
    CẬP NHẬT SẢN PHẨM NỔI BẬT
</div>
<form class="container">
    <div class="mb-3">
        <label class="form-label">Tên sản phẩm </label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Thời gian bắt đầu (*)</label>
        <input type="date" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Thời gian kết thúc (*)</label>
        <input type="date" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Mô tả </label>
        <textarea class="form-control" rows="3"></textarea>
    </div>

</form>
<div class="mb-3 text-center">
    <button class="btn-cancel">
        Hủy bỏ
    </button>
    <button class="btn-save">
        Lưu
    </button>
</div>