:root {
  --color-bg-white: #ffffff;
  --color-text-header: #222222;
  --color-warning: #ffbe41;
  --color-list-nav: #002c6c;
  --color-active: #ee0033;
  --color-section: #f8f8f8;
  --color-white: #ffffff;
  --color-primary: #2c32d2;
  --color-secondary: #ffffff;
  --color-button-gray: #9c9b9b;
  --color-button-blue: #1894ff;
  --color-border: #bcbcbc;
}
