<div class="service">
    <div class="grid" *ngFor="let service of useServices">
        <span>ID</span>
        <div>123456</div>
        <span> Hình thức ký </span>
        <div>Ký mới</div>
        <span> Dịch vụ </span>
        <div> Minh bạch thông tin - 10 mã </div>
        <span>Ngày có hiệu lực</span>
        <div>01/08/2021</div>
        <span>Ngày hết hạn</span>
        <div> 01/08/2022 </div>
        <span> Ngày tạo hợp đồng </span>
        <div> 30/07/2021 </div>
        <span> Ngày duyệt </span>
        <div> 01/01/2022 </div>
        <span> Gía trị </span>
        <div> 10.000.000 </div>
    </div>
    <div class="btn-block">
        <button class="btn close-btn" (click)="closeDiaglog()"> Đóng </button>
        &nbsp;
        <button class="btn add-btn"> Thêm hợp đồng </button>
    </div>
</div>