.authorization-header {
  .sub-title {
    color: var(--color-button-blue);
    font-weight: 600;
  }
  select {
    width: 18%;
  }
}

.authorization-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 1.5em;
}

.option-button {
  display: flex;
}
