<div class="authorization-header">
    <div class="content-title">Phân quyền</div>
    <div class="sub-title">Tên nhóm quyền</div>
    <select class="form-control" (change)=changeRole($event.target.value)>
        <option *ngFor="let role of roles" [value]="role.RoleId">
            {{role.Name}}
        </option>
    </select>
</div>

<div class="authorization-content">
    <div *ngFor="let item of rolePolicies; index as idx" class="card-checkbox">
        <table class="table table-borderless">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        <input type="checkbox" id="idx" [checked]="checkSelectAll"
                            (click)="selectAll($event.target.checked, idx)">
                    </th>
                    <th scope="col">
                        {{item.Name}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let policy of item.Policies; let index = index">
                    <td>
                        <input type="checkbox" (click)="selectItem(policy, $event.target.checked, index)"
                            class="checkbox" [checked]="item.check">
                    </td>
                    <td>
                        {{policy.Name}}
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>