.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .col {
    &__item-1 {
      margin: 5px;
      .row-1 {
        display: flex;
        justify-content: space-between;

        .box {
          height: 125px;
          width: 100%;
          display: flex;
          align-items: center;
          margin: 10px;
          border-radius: 15px;
          color: #ffffff;
          padding-left: 15px;
          &:nth-child(1) {
            background-color: var(--color-primary);
          }
          &:nth-child(2) {
            background-color: #018431;
          }
          &:nth-child(3) {
            background-color: #ff8d0e;
          }
        }
      }

      .row-2 {
        height: 125px;
        background: var(--color-white);
        margin: 10px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        padding-left: 15px;
      }

      .row-3 {
        &__content {
          background: var(--color-white);
          padding: 3%;
          margin: 10px;
          border-radius: 15px;
        }

        select {
          position: absolute;
          height: 3em;
          padding: 0 1em;
          border-radius: 15px;
          outline-style: none;
        }

        .mat-tab-header {
          width: 28rem;
          left: 38%;
        }

        .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
          display: none;
        }

        .mat-tab-label.mat-tab-label-active {
          color: var(--color-primary);
        }

        .tab-content {
          height: 43vh;
        }
        .chart {
          overflow: hidden;
          .search {
            display: flex;
            justify-content: flex-end;
            &-button {
              margin-top: 1.2%;
              button {
                color: var(--color-secondary);
                padding: 0.6em;
                border: none;
                border-radius: 5px;
                background: var(--color-button-gray);
                cursor: pointer;
              }
            }
          }

          .mat-input-element {
            padding-bottom: 5px;
          }

          .mat-form-field-wrapper {
            padding-bottom: 0;
          }

          .mat-form-field {
            width: 8rem;
          }
          .mat-form-field-appearance-fill .mat-form-field-flex {
            padding: 0;
          }
          .mat-form-field-underline {
            display: none;
          }

          .mat-form-field-appearance-fill .mat-form-field-flex {
            background: var(--color-secondary);
          }
          .mat-form-field:not(.mat-form-field-appearance-legacy)
            .mat-form-field-suffix
            .mat-icon-button {
            right: 35%;
          }
        }
      }
    }

    &__item-2 {
      margin: 5px;
      .chart-block {
        margin: 10px;
        border-radius: 15px;
        background: var(--color-white);
        .chart-title {
          padding: 10px 15px;
          font-weight: 600;
        }
      }
    }

    &__item-right {
      background: var(--color-white);
      padding: 2em;
      height: 58%;
      border-radius: 15px;
    }
    &__item-left {
      background: var(--color-white);
      padding: 2em;
      height: 41%;
      border-radius: 15px;
      margin: 0 14px;
      .chart-content {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
      }
    }
  }

  .col-2__block-2 {
    .list-item_left {
      img {
        width: 80px !important;
        height: 80px !important;
      }
      &-text {
        justify-content: unset !important;
        div {
          margin-bottom: 5px;
        }
      }
    }

    .list-item_right {
      justify-content: unset !important;
      &-text {
        div:nth-child(1) {
          font-weight: 600;
          margin-bottom: 5px;
        }
      }
    }
  }

  .list {
    width: 100%;
    height: 100%;

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3%;
      .title {
        font-weight: 600;
      }
      .link {
        color: var(--color-primary);
        cursor: pointer;
      }
    }

    .list-item {
      display: flex;
      justify-content: space-between;
      border-bottom: 3px solid var(--color-section);
      padding: 10px 0px;
      .list-item_left {
        display: flex;
        img {
          width: 100px;
          height: 100px;
          border-radius: 15px;
          margin-right: 20px;
        }
        &-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          div:nth-of-type(1) {
            font-weight: 600;
          }
          button {
            background-color: #ff8d0e;
            width: 77px;
            height: 37px;
            border: none;
            border-radius: 20px;
            color: #fff;
          }
        }
      }

      .list-item_right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &-text {
          width: 15rem;
          text-align: end;
        }
      }
    }
  }

  .subtitle {
    display: flex;
    align-items: center;
    margin-left: 1.8em;
    &-dot {
      font-size: 3em;
      color: #1921fa;
    }
    &-text {
      font-size: 0.8em;
      font-weight: 600;
    }
  }
}
