<div class="title">
    SỬA LÝ DO
</div>
<form class="container">
    <div class="mb-3">
        <label class="form-label">Tên lý do *</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Tình trạng *</label>
        <select class="form-control">
            <option value=""></option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Loại lý do *</label>
        <select class="form-control">
            <option value=""></option>
        </select>
    </div>

</form>
<div class="mb-3 text-center">
    <button class="btn-cancel">
        Hủy bỏ
    </button>
    <button class="btn-save">
        Lưu
    </button>
</div>