<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="title">THÊM GÓI DỊCH VỤ</div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <span>Tên dịch vụ</span>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="button-block">
                <button (click)="closeDialog()" class="action-btn cancel-btn">Hủy bỏ</button>
                &nbsp;
                <button (click)="closeDialog()" class="action-btn save-btn">Lưu</button>
            </div>
        </div>
    </div>
</div>