<div class="table-style">
  <div class="row btn-header">
    <div class="group-btn">
      <div class="group-btn-item" *ngFor="let i of listActive">
        <button *ngIf="i.type !== 'create' && i.type !== 'delete' " class="btn" [class]="i.class"
          (click)="onClickBtnActive(i)">
          {{ i?.text }}
        </button>
        <span *ngIf="showDelete">
          <button *ngIf="i.type !== 'create' && i.type !== 'export' " class="btn" [class]="i.class"
            (click)="onClickBtnActive(i)">
            {{ i?.text }}
          </button>
        </span>

        <button [matMenuTriggerFor]="menu" *ngIf="i.type === 'create'" class="btn" [class]="i.class"
          (click)="onClickBtnActive(i)">
          {{ i?.text }}
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="clickCreate()">Thêm mới bằng tay</button>
        <button mat-menu-item (click)="import()">Import excel</button>
      </mat-menu>
    </div>
    <div class="paginator">
      <div class="current-page">
        <button (click)="backPage()">
          <img src="assets/svg/icon-left.svg" />
        </button>
        <span>{{ currentPage }}</span>
        <button (click)="nextPage()">
          <img src="assets/svg/icon-right.svg" />
        </button>
      </div>
      <span>/ {{ totalPage }}</span>
    </div>
  </div>
  <div class="scroll">
    <table class="data-table">
      <thead>
        <tr>
          <th scope="col" *ngFor="let item of tableData" [style.min-width.px]="item.width">
            {{ item.name }}
            <input class="checkbox" *ngIf="item.type === 'checkbox'" [checked]="checkSelectAll"
              (click)="selectAll($event.target.checked)" type="checkbox" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataSub; let i = index">
          <td *ngFor="let i of tableData">
            <span *ngIf="i.type === 'checkbox'">
              <input (click)="selectItem(item, $event.target.checked, index)" class="checkbox" [checked]="item.check"
                type="checkbox" />
            </span>
            <span *ngIf="i.type === 'image'">
              <img class="image" src="{{ item[i.id] }}" alt="" srcset="" />
            </span>
            <span *ngIf="i.type === 'number'" (click)="handleRouteLink(item); handleClickRow(item)">{{ item[i.id] |
              number }}</span>
            <span *ngIf="i.type === 'text'" (click)="handleRouteLink(item); handleClickRow(item)">
              {{ item[i.id]}}
            </span>
            <span *ngIf="i.type === 'type'" (click)="handleRouteLink(item); handleClickRow(item)">
              <div *ngIf="item[i.id] == 2">Đã duyệt</div>
              <div *ngIf="item[i.id] == 1">Chưa duyệt</div>
            </span>
            <span *ngIf="i.type === 'status'" (click)="handleRouteLink(item); handleClickRow(item)">
              <div *ngIf="item[i.id] == 1">Hoạt động</div>
              <div *ngIf="item[i.id] == 2">Không hoạt động</div>
            </span>
            <button class="btn-approve" (click)="onclickApprove(item, 'approve')" *ngIf="i.type === 'approve'">Phê
              duyệt</button>
            <span *ngIf="i.type === 'object'" (click)="handleRouteLink(item); handleClickRow(item)">{{
              item[i.id][i.idSub] }}</span>
            <span *ngIf="i.type === 'date'" (click)="handleRouteLink(item); handleClickRow(item)">
              {{ item[i.id] | date: "dd-MM-yyyy" }}
            </span>
            <span *ngIf="i.type === 'setting'">
              <button [matMenuTriggerFor]="setting" class="setting-btn">
                <span class="material-icons">
                  settings
                </span>
              </button>
              <mat-menu #setting="matMenu">
                <button mat-menu-item (click)="onClickSetting(item, 'edit')" class="btn-table">
                  <!-- <img src="assets/svg/nbc-edit.svg" alt="" srcset="" /> -->
                  Sửa
                </button>
                <button mat-menu-item (click)="onClickSetting(item, 'delete')" class="btn-table">
                  <!-- <img src="assets/svg/nbc-delete.svg" alt="" srcset="" /> -->
                  Xóa
                </button>
              </mat-menu>

            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>